<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Media Library</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <!-- LOADING -->
	  <div class="text-center" *ngIf="loading" @fade>			
      <img src="/assets/imgs/loading.svg" alt="" style="max-width:200px;">
    </div>


    <div *ngIf="!loading" @fade>
      <div class="row mb-3">
        <div class="col-md-6">
          <ngx-uploadcare-widget
						images-only="false"
						system-dialog="true"
            public-key="ccfa756f426c375c3e98"
						(on-upload-complete)="uploadComplete($event)">
          </ngx-uploadcare-widget>
          <div class="alert alert-danger text-center mt-2" *ngIf="error_PhotoMsg > ''">{{ error_PhotoMsg }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 mb-3" *ngFor="let file of files; let i = index">
          <img src="{{ file.file_url }}-/resize/160x/" 
            class="img-fluid" 
            (click)="useMediaFile(file.file_url)"
            [ngbTooltip]="file.file_name"
            *ngIf="file.type=='image'">
          <img src="/assets/imgs/icon_sound.png" 
            class="img-fluid" 
            (click)="useMediaFile(file.file_url, file.file_name)" 
            [ngbTooltip]="file.file_name"
            *ngIf="file.type=='sound'">
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">CLOSE</button>
  </div>
</div>