<div class="auth_bg"></div>

<div class="container">
	<div class="auth_card">
		<h2 class="text-center">Forgot Password</h2>
		<div class="top20">
			<div class="alert alert-danger text-center bot20" *ngIf="error_msg > ''">{{ error_msg }}</div>

			<div [hidden]="!submitSuccess" class="text-center top20 bot20">{{ finalMessage }}</div>
			<form [formGroup]="myForm" [hidden]="submitSuccess" (ngSubmit)="submitNewPass()">
				<div class="text-center bot20">Enter your email address to reset your password</div>	
				
				<div class="form-group">
					<input type="text" type="email" placeholder="Email" formControlName="email" class="form-control"
						[ngClass]="{'is-invalid':email.invalid && email.touched}">
					<div class="invalid-feedback" *ngIf="email.invalid && email.touched">Email is invalid</div>
				</div>
				
				<div class="text-center top30">
					<button class="btn btn-lg btn-primary" *ngIf="!loading" [disabled]="myForm.invalid">RESET PASSWORD</button>
					<div class="load40_center" *ngIf="loading">loading</div>
				</div>
				
			</form>
		</div>

		<div class="auth_actions">
			<div class="row">
				<div class="col-md-6"><a routerLink="/register">Register</a></div>
				<div class="col-md-6 text-right"><a routerLink="/login">Return to Login</a></div>
			</div>
		</div>
	</div>
</div>