<div class="auth_bg"></div>

<div class="container">
  <div class="auth_card" *ngIf="!screenLoading">
    <h2 class="text-center">User Login</h2>
    <div class="top20">
      <div class="alert alert-danger text-center bot20" *ngIf="error_msg > ''">{{ error_msg }}</div>
      <form [formGroup]="myForm" [hidden]="loginSuccess" (ngSubmit)="submitLogin()">
        <div class="form-group">
          <input type="text" placeholder="Email" formControlName="email" class="form-control"
            [ngClass]="{'is-invalid':email.invalid && email.touched}">
           <div class="invalid-feedback" *ngIf="email.invalid && email.touched">Email is invalid</div>
        </div>
      
        <div class="form-group">
          <input type="text" type="password" placeholder="Password" formControlName="password" class="form-control"
            [ngClass]="{'is-invalid':password.invalid && password.touched}">
          <div class="invalid-feedback" *ngIf="password.invalid">Password is invalid</div>
          <small align="end">Must be at least 6 characters</small>
        </div>
        
        <div class="row">
          <div class="col-md-8">
            <div class="form-group form-check top7">
              <input type="checkbox" class="form-check-input" #inpChecker id="rememberme" value="1"> 
              <label class="form-check-label" for="rememberme">Remember Me</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="btn-group float-right d-flex align-items-center" style="min-height:38px;">
              <button [disabled]="myForm.invalid || loading" class="btn btn-lrg btn-primary">
                <fa-icon
                  [icon]="['fas','spinner']"
                  [spin]="true"
                  [fixedWidth]="true"
                  *ngIf="loading"
                  ></fa-icon> LOGIN</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="auth_actions">
      <div class="row">
        <div class="col-md-6"><a routerLink="/login/forgot">Forgot Password?</a></div>
        <div class="col-md-6 text-right"><a routerLink="/register">Register</a></div>
      </div>
    </div>
  </div>
</div>
  
  
<div class="login_loading" @fade *ngIf="screenLoading">
  loading
</div>