
<h3><fa-icon [icon]="['fas', 'chevron-circle-left']" [fixedWidth]="true" (click)="clickedDone($event)"></fa-icon>Layer Details</h3>

<form [formGroup]="myForm">

	<div class="form-group mt-3">
		<label for="layer_name" class="col-form-label">Layer Name:</label>
		<input type="text" class="form-control" formControlName="layer_name" value=""
			[ngClass]="{'is-invalid':layer_name.invalid && layer_name.touched}">
	</div>

	<!-- IMAGE -->
	<div class="form-group row" *ngIf="layer.type == 'image'">
		<div class="col-md-8">
			<input type="hidden" formControlName="asset_url">
			<button 
				class="btn btn-info"
				(click)="openMediaLibrary()">CHOOSE MEDIA</button>
		</div>
		<div class="col-md-4 text-right" *ngIf="layer?.asset_url && layer?.asset_url>''"><img src="{{layer.asset_url}}" alt="" height="40"></div>
	</div>


	<!-- SOUND -->
	<div class="form-group row" *ngIf="layer.type=='sound'">
		<div class="col-md-8">
			<input type="hidden" formControlName="asset_url">
			<button 
				class="btn btn-info"
				(click)="openMediaLibrary()">CHOOSE MEDIA</button>
		</div>
		<div class="col-md-4 text-right" *ngIf="layer?.asset_url && layer?.asset_url>''">
			<img src="/assets/imgs/icon_sound.png" alt="" height="40">
		</div>
	</div>





	<!-- TEXT -->
	<div class="row mt-3">
		<div class="col-md-8">
			<div class="form-group" [hidden]="layer.type!=='text' && layer.type!=='button'">
				<label for="layer_name" class="col-form-label">Text:</label>
				<div class="input-group">					
					<input type="text" class="form-control" formControlName="text" value=""
						[ngClass]="{'is-invalid':text.invalid && text.touched}">
					<div class="input-group-append">
						<div class="input-group-text" >
							<input 
								[(colorPicker)]="color || layer.color" 
								[style.background]="color || layer.color"
								[cpOutputFormat]="'hex'"
								[cpPresetColors]="presetColors"
								[cpAddColorButton]="true"
								(colorPickerChange)="colorUpdated($event)"
								[value]="layer.color"
								formControlName="color"
								class="color-picker-inp"></div>
						</div>
				</div>
			</div>
		</div>
		<div class="form-group" [hidden]="layer.type!=='button'">
			<label for="layer_name" class="col-form-label">BG Color:</label>
			<div class="input-group">					
				
				<div class="input-group-append">
					<div class="input-group-text" >
						<input 
							[(colorPicker)]="color || layer.bg_color" 
							[style.background]="color || layer.bg_color"
							[cpOutputFormat]="'hex'"
							[cpPresetColors]="presetColors"
							[cpAddColorButton]="true"
							(colorPickerChange)="bgColorUpdated($event)"
							[value]="layer.bg_color"
							formControlName="bg_color"
							class="color-picker-inp"></div>
					</div>
			</div>
		</div>
	</div>

	<div class="row mt-3" [hidden]="layer.type=='event' || layer.type=='sound'">
		<div class="col-md-6">
			<div class="form-group" class="text-center">
				<label for="anchorX">Anchor X</label>
				<input type="text" class="form-control text-center" formControlName="anchorX" value=".5">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group" class="text-center">
				<label for="anchorY">Anchor Y</label>
				<input type="text" class="form-control text-center" formControlName="anchorY" value=".5">
			</div>
		</div>
	</div>
	<div class="row mt-3" [hidden]="fit_screen.checked || (layer.type!=='text' && layer.type!=='image' && layer.type!=='button' && layer.type!=='joined_players')">
		<div class="col-md-6">
			<div class="form-group" class="text-center">
				<label for="width">Width %</label>
				<input type="text" class="form-control text-center" formControlName="width" value="100">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group" class="text-center">
				<label for="height">Height %</label>
				<input type="text" class="form-control text-center" formControlName="height" value="100">
			</div>
		</div>
	</div>
	<div class="row mt-3" [hidden]="layer.type!=='image'">
		<div class="col-md-12">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="fit_screen" formControlName="fit_screen" #fit_screen>
				<label class="custom-control-label" for="fit_screen">Fit to Screen</label>
			</div>
		</div>
	</div>




	<div class="row mt-3" [hidden]="layer.type!=='text' && layer.type!=='button'">
		<div class="col-md-8">
			<div class="form-group" class="text-center">
				<label for="font">Font</label>
				<select class="form-control" formControlName="font">
					<option value="Arial">Arial</option>
					<!-- <option *ngFor="let ease of easeList | keyvalue" value="{{ ease.key }}">{{ ease.value }}</option> -->
				</select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="font_size">Font Size</label>
				<input type="text" class="form-control text-center" formControlName="font_size" value="24">
			</div>
		</div>
	</div>


	<div class="row mt-3">
		<div class="col-md-6">
			<div class="form-group" class="text-center">
				<label for="font">Click Event</label>
				<select class="form-control" formControlName="onclick">
					<option value="">Do Nothing</option>
					<option value="start_game">Start Game</option>
					<!-- <option *ngFor="let ease of easeList | keyvalue" value="{{ ease.key }}">{{ ease.value }}</option> -->
				</select>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group" class="text-center">
				<label for="font">Display</label>
				<select class="form-control" formControlName="display">
					<option value="all">All Viewers</option>
					<option value="leader">Only Leader</option>
					<!-- <option *ngFor="let ease of easeList | keyvalue" value="{{ ease.key }}">{{ ease.value }}</option> -->
				</select>
			</div>
		</div>
	</div>

	<div class="mt-3">
		<button class="btn btn-danger btn-sm" (click)="removeLayer($event)">REMOVE LAYER</button>
	</div>
</form>