<h3>Action Properties</h3>
<form [formGroup]="myForm" *ngIf="!loading && cur_frame!==-1 && cur_keyframe!==-1" id="form_props">
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="form-group" class="text-center">
        <label for="scaleX">Delay</label>
        <input type="number" class="form-control text-center" formControlName="delay" value="0"
          [ngClass]="{'is-invalid':delay.invalid && delay.touched}">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" class="text-center">
        <label for="X">Time</label>
        <input type="number" class="form-control text-center" formControlName="time" value="0"
          [ngClass]="{'is-invalid':time.invalid && time.touched}">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" class="text-center">
        <label for="x">X</label>
        <input type="number" class="form-control text-center" formControlName="x" value="0"
          [ngClass]="{'is-invalid':x.invalid && x.touched}">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" class="text-center">
        <label for="X">Y</label>        
        <input type="number" class="form-control text-center" formControlName="y" value="0"
          [ngClass]="{'is-invalid':y.invalid && y.touched}">
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-3">
      <div class="form-group" class="text-center">
        <label for="scale">Scale</label>
        <input type="number" class="form-control text-center" formControlName="scale" value="0">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" class="text-center">
        <label for="scaleX">Scale X</label>
        <input type="number" class="form-control text-center" formControlName="scaleX" value="0">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" class="text-center">
        <label for="scaleY">Scale Y</label>
        <input type="number" class="form-control text-center" formControlName="scaleY" value="0">
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div class="form-group" class="text-center">
        <label for="rot">Rot</label>
        <input type="text" class="form-control text-center" formControlName="rot" value="0">
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group" class="text-center">
        <label for="ease">Ease</label>
        <select class="form-control" formControlName="ease">
          <option *ngFor="let ease of easeList | keyvalue" value="{{ ease.key }}">{{ ease.value }}</option>
        </select>
      </div>
    </div>
  </div>{{ easeList[0] }}
<!-- 
  
    <div class="col-md-4">
      <div class="form-group" class="text-center">
        <label for="X">Rot</label>
        <input type="text" class="form-control text-center" value="0">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="form-group" class="text-center">
        <label for="X">Delay</label>
        <input type="text" class="form-control text-center" value="0">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" class="text-center">
        <label for="X">Duration</label>
        <input type="text" class="form-control text-center" value="0">
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12 mt-4">
      <button
        class="btn btn-primary"
        (click)="doneEditing($event)"
        >DONE</button></div>
  </div>
</form>