<div style="width:1282px; margin:30px auto 100px auto;">
	<h1>Edit Game</h1>
	
	<!-- LOADING -->
	<div class="text-center" *ngIf="loading" @fade>			
		<img src="/assets/imgs/loading.svg" alt="" style="max-width:200px;">
	</div>


	<div [hidden]="loading">
		<form [formGroup]="myForm">
			<div class="form-group row mt-5">
				<label for="game_name" class="col-sm-2 col-form-label text-right">Game Name:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" autofocus="autofocus" formControlName="game_name" value=""
						[ngClass]="{'is-invalid':game_name.invalid && game_name.touched}">
					<div class="invalid-feedback" *ngIf="game_name.invalid">Password must be at least 6 characters</div>
				</div>

			
			
				<div class="col-sm-7 text-right">
					<input type="hidden" name="id" formControlName="id">
					<input type="hidden" name="playlist" formControlName="playlist">
					<button 
						type="button" class="btn btn-lg btn-primary" value="{{ saveLabel }}"
						[disabled]="myForm.invalid || formState!=='init'"
						(click)="saveForm()"
						[ngClass]="{
							'btn-primary': formState!=='error',
							'btn-danger': formState==='error'
						}">
							<fa-icon [icon]="['fas', 'spinner']" [spin]="true" *ngIf="formState==='saving'" class="mr-2"></fa-icon>
							<fa-icon [icon]="['fas', 'exclamation-circle']" *ngIf="formState==='error'" class="mr-2"></fa-icon>
							{{ saveLabel }}</button>
				</div>

			</div>
		</form>



		<!-- PLAYLIST -->
		<div class="row mt-4">
			<div class="col-md-4 block_list sort_area" [sortablejs]="playlist?.screens" [sortablejsOptions]="options">

				<div class="pl_block"
					*ngFor="let screen of playlist?.screens; index as i; let last = last">

					<div class="repeat1 repeat_title" *ngIf="screen.repeat_amount > 1">Repeat {{screen.repeat_amount}} Times</div>
					<div class="repeat2 repeat_title" *ngIf="screen.special_repeat != 'None'">{{screen.special_repeat}}</div>

					<div class="block_screen" 
						[class.rad10]="screen.actions.length === 0"
						(click)="editScreen(i)">
						<div class="row text-center">
							<div class="col-md-2"><fa-icon [icon]="['fas', 'desktop']" size="lg" [fixedWidth]="true"></fa-icon></div>
							<div class="col-md-8">{{screen.screen_name}}</div>
						</div>
					</div>

					<div class="sort_area" [sortablejs]="screen?.actions" [sortablejsOptions]="options2">
						<div *ngFor="let action of screen?.actions; index as ii; let last = last">
							<div 
								[class.last_block]="last"
								[class.block_action]="action.type==='action'"
								[class.block_device]="action.type==='device'"
								[class.block_event]="action.type==='event'"
								(click)="editAction(ii,i)">
								<div class="row text-center">
									<div class="col-md-2"><fa-icon [icon]="action.icon" size="lg" [fixedWidth]="true"></fa-icon></div>
									<div class="col-md-8">{{ action.name }}</div>
									<div class="col-md-2" *ngIf="action.iconr > ''"><fa-icon [icon]="action.iconr" size="lg" [fixedWidth]="true"></fa-icon></div>
								</div>
							</div>
						</div>
					</div>


					<div class="repeat2_end" *ngIf="screen.end_prev_spec_repeat"></div>
					<div class="repeat1_end" *ngIf="screen.end_prev_repeat"></div>

				</div>
			</div>
			



			<!-- EDITING AND MODULES -->
			<div class="col-md-8">

				<!-- EDITING SCREEN ITEM -->
				<div class="card mb-3" *ngIf="editing_screen>=0 && editing_event<0">
					<div class="card-body bg_grey1">
						<h3>{{cur_screen.screen_name}}</h3>

						<!-- Repeat -->
						<div class="row mt-3">
							<div class="col-md-2">
								<div class="form-group">
									<label for="repeat_amount">Repeat #</label>
									<input type="number" class="form-control" name="repeat_amount" [(ngModel)]="cur_screen.repeat_amount">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="end_prev_repeat">End Repeat</label>
									<div style="width:28px;">
										<label class="checkbox">
											<input type="checkbox" name="end_prev_repeat" id="end_prev_repeat" [(ngModel)]="cur_screen.end_prev_repeat">
											<span class="default"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="special_repeat">Use Special Repeat</label>
									<div class="ui-select">
										<select id="special_repeat" class="form-control" name="special_repeat" [(ngModel)]="cur_screen.special_repeat">
											<option *ngFor="let item of repeat_list" [value]="item">{{item}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="end_prev_spec_repeat">End Sepcial Repeat</label>
									<div style="width:28px;">
										<label class="checkbox">
											<input type="checkbox" name="end_prev_spec_repeat" id="end_prev_spec_repeat" [(ngModel)]="cur_screen.end_prev_spec_repeat">
											<span class="default"></span>
										</label>
									</div>
								</div>
							</div>
						</div>

						<!-- Repeat -->
						<div class="row mt-3">
							<div class="col-md-4">
								<div class="form-group">
									<label for="theme_name">Theme</label>
									<div class="ui-select">
										<select id="special_repeat" class="form-control" name="theme_name" [(ngModel)]="cur_screen.theme_name">
											<option value="">Choose...</option>
											<option *ngFor="let item of themes" [value]="item.id">{{item.theme_name}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="max_players">Max Players</label>
									<input type="number" class="form-control" name="max_players" [(ngModel)]="cur_screen.max_players">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="start_point_val">Starting Point Value</label>
									<input type="number" class="form-control" name="start_point_val" [(ngModel)]="cur_screen.start_point_val">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="req_even_teams">Teams Must Be Even</label>
									<div style="width:28px;">
										<label class="checkbox">
											<input type="checkbox" name="req_even_teams" id="req_even_teams" [(ngModel)]="cur_screen.req_even_teams">
											<span class="default"></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6"><button class="btn btn-primary" (click)="doneEditing()">Done</button></div>
							<div class="col-md-6 text-right"><button class="btn btn-danger" (click)="deleteScreen()">Remove Screen</button></div>
						</div>
					</div>
				</div>




				<!-- EDIT MODULES -->
				<div class="card mb-3" *ngIf="editing_event>=0 && editing_screen<0">
					<div class="card-body">
						<h3>{{cur_actions.name}}</h3>
						<div class="row mt-3">
							<!-- Seconds -->
							<div class="col-md-2" *ngIf="cur_actions.id==1">
								<div class="form-group">
									<label for="seconds">Seconds</label>
									<input type="number" class="form-control" name="seconds" [(ngModel)]="cur_actions.seconds" (ngModelChange)="secondsChanged($event)">
								</div>
							</div>

							<!-- Timer -->
							<div class="col-md-2" *ngIf="cur_actions.id==3">
								<div class="form-group">
									<label for="timer">Seconds</label>
									<input type="number" class="form-control" name="timer" [(ngModel)]="cur_actions.timer" (ngModelChange)="timerChanged($event)">
								</div>
							</div>

							<!-- Add Points -->
							<div class="col-md-4" *ngIf="cur_actions.id==7">
								<div class="form-group">
									<label for="add"># of Points to add to Point Value</label>
									<input type="number" class="form-control" name="add" [(ngModel)]="cur_actions.add" (ngModelChange)="addChanged($event)">
								</div>
							</div>



							<!-- Give players x card if they have < x cards -->
							<div class="col-md-3" *ngIf="cur_actions.id==130">
								<div class="form-group">
									<label for="give_num">Give # of Cards</label>
									<input type="number" class="form-control" name="give_num" [(ngModel)]="cur_actions.give_num" (ngModelChange)="giveChanged($event)">
								</div>
							</div>
							<div class="col-md-3" *ngIf="cur_actions.id==130">
								<div class="form-group">
									<label for="lt_cards">Have Less than # Cards</label>
									<input type="number" class="form-control" name="lt_cards" [(ngModel)]="cur_actions.lt_cards" (ngModelChange)="giveChanged($event)">
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6"><button class="btn btn-primary" (click)="doneEditing()">Done</button></div>
							<div class="col-md-6 text-right"><button class="btn btn-danger" (click)="deleteAction()">Remove Module</button></div>
						</div>
						<!-- new row? -->
					</div>
				</div>



				<!-- NOT EDITING ITEM -->
				<div class="card" *ngIf="!editing_item">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4" >
								<h5 class="card-title">Screens {{playlist_options.screens?.length}}</h5>
								<div [sortablejs]="playlist_options?.screens" [sortablejsOptions]="options">
									<div *ngFor="let item of playlist_options?.screens">
										<div class="block_screen rad10">
											<div class="row text-center">
												<div class="col-md-2 text-right"><fa-icon [icon]="['fas', 'desktop']" size="lg" [fixedWidth]="true"></fa-icon></div>
												<div class="col-md-8">{{ item.screen_name }}</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="col-md-4">
								<h5 class="card-title">Actions</h5>
								<div [sortablejs]="playlist_options?.actions" [sortablejsOptions]="options2">
									<div *ngFor="let item of playlist_options?.actions">
										<div class="block_action">
											<div class="row text-center">
												<div class="col-md-2 text-right"><fa-icon [icon]="item.icon" size="lg" [fixedWidth]="true"></fa-icon></div>
												<div class="col-md-8">{{ item.name }}</div>
												<div class="col-md-2" *ngIf="item.iconr > ''"><fa-icon [icon]="item.iconr" size="lg" [fixedWidth]="true"></fa-icon></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<h5 class="card-title">Device</h5>
								<div [sortablejs]="playlist_options?.device" [sortablejsOptions]="options2">
									<div class="block_device" *ngFor="let item of playlist_options?.device">
										<div class="row text-center">
											<div class="col-md-2 text-right"><fa-icon [icon]="item.icon" size="lg" [fixedWidth]="true"></fa-icon></div>
											<div class="col-md-8">{{ item.name }}</div>
											<div class="col-md-2" *ngIf="item.iconr > ''"><fa-icon [icon]="item.iconr" size="lg" [fixedWidth]="true"></fa-icon></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row mt-5">
							<div class="col-md-4">
								<h5 class="card-title">Events</h5>
								<div [sortablejs]="playlist_options?.events" [sortablejsOptions]="options2">
									<div class="block_event" *ngFor="let item of playlist_options?.events">
										<div class="row text-center">
											<div class="col-md-2 text-right"><fa-icon [icon]="item.icon" size="lg" [fixedWidth]="true"></fa-icon></div>
											<div class="col-md-8">{{ item.name }}</div>
											<div class="col-md-2" *ngIf="item.iconr > ''"><fa-icon [icon]="item.iconr" size="lg" [fixedWidth]="true"></fa-icon></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
