<nav class="main_nav">
  <div class="container">
    <ul>
      <li><a [routerLink]="['/']" class="mr-5">LOGO</a></li>
      <li><a href="#">PLAY GAME</a></li>
      <li class="dropdown">
        <a [routerLink]="" class="dropbtn">CREATE/MANAGE</a>
        <div class="dropdown-content">
          <a [routerLink]="['/manage/slides']">[A] Background Slides</a>
          <a [routerLink]="['/manage/themes']">[A] Themes</a>
          <a [routerLink]="['/manage/types']">[A] Game Types</a>
          <a [routerLink]="['/manage/questions']">Question List</a>
          <a [routerLink]="['/manage/game']">Game</a>
        </div>
      </li>
      <li>
        <a href="#">COMMUNITY</a>
      </li>
      <li>
        <a href="#">CONTACT</a>
      </li>

      <li class="pull_right">
        <a [routerLink]="['/account']"><fa name="user" size="lg"></fa></a> 
      </li>
    </ul>
  </div>
</nav>