<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand pl-2 pr-4" [routerLink]="['/']">LOGO</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item px-2">
          <a class="nav-link" href="#">PLAY GAME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-2 dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="id01" href="javascript:;" ngbDropdownToggle>CREATE/MANAGE</a>
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="['/manage/slides']">[A] Background Slides</a>
            <a class="dropdown-item" [routerLink]="['/manage/themes']">[A] Themes</a>
            <a class="dropdown-item" [routerLink]="['/manage/types']">[A] Game Types</a>
            <a class="dropdown-item" [routerLink]="['/manage/questions']">Question List</a>
            <a class="dropdown-item" [routerLink]="['/manage/game']">Game</a>
          </div>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="#">COMMUNITY</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>

      <span class="navbar-text pr-2" placement="bottom-left">      
        <a [routerLink]="['/account']"><fa name="user" size="2x"></fa></a> 
      </span>
    </div>
  </div>
</nav>