<div style="width:1282px; margin:30px auto 0 auto;">
	<h1>Manage Animated Background</h1>
	
	<!-- LOADING -->
	<div class="text-center" *ngIf="loading" @fade>			
		<img src="/assets/imgs/loading.svg" alt="" style="max-width:200px;">
	</div>


	<div [hidden]="loading">
		<form [formGroup]="myForm">
			<div class="form-group row mt-5">
				<label for="slide_name" class="col-sm-3 col-form-label text-right">Background Name:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" autofocus="autofocus" formControlName="slide_name" value=""
						[ngClass]="{'is-invalid':slide_name.invalid && slide_name.touched}">
					<div class="invalid-feedback" *ngIf="slide_name.invalid">Password must be at least 6 characters</div>
				</div>

				<div class="col-sm-3">
					<div ngbDropdown class="d-inline-block" [autoClose]="true">
						<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Type</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<checkbox-group formControlName="slide_type">
								<button class="dropdown-item"><checkbox value="round">Round Screen</checkbox></button>
								<button class="dropdown-item"><checkbox value="background">Background</checkbox></button>
								<button class="dropdown-item"><checkbox value="mult_overlay">Multiple Choice Overlay</checkbox></button>
								<button class="dropdown-item"><checkbox value="order_overlay">Order Items Overlay</checkbox></button>
								<button class="dropdown-item"><checkbox value="tf_overlay">True or False Overlay</checkbox></button>
							</checkbox-group>
						</div>

						<div ngbDropdown class="d-inline-block ml-2" [autoClose]="false">
							<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Categories</button>
							<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
								<checkbox-group formControlName="categories">
									<button class="dropdown-item"><checkbox value="history">History</checkbox></button>
									<button class="dropdown-item"><checkbox value="kids">Kids</checkbox></button>
									<button class="dropdown-item"><checkbox value="Music">Music</checkbox></button>
									<button class="dropdown-item"><checkbox value="movies">Movies</checkbox></button>
									<button class="dropdown-item"><checkbox value="tv">TV</checkbox></button>
									<button class="dropdown-item"><checkbox value="science">Science</checkbox></button>
									<button class="dropdown-item"><checkbox value="sports">Sports</checkbox></button>
									<button class="dropdown-item"><checkbox value="video_game">Video Game</checkbox></button>
								</checkbox-group>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3 text-right">
					<input type="hidden" name="id" formControlName="id">
					<button 
						type="button" class="btn btn-lg btn-primary" value="{{ saveLabel }}"
						[disabled]="myForm.invalid || formState!=='init'"
						(click)="saveForm()"
						[ngClass]="{
							'btn-primary': formState!=='error',
							'btn-danger': formState==='error'
						}">
							<fa-icon [icon]="['fas', 'spinner']" [spin]="true" *ngIf="formState==='saving'" class="mr-2"></fa-icon>
							<fa-icon [icon]="['fas', 'exclamation-circle']" *ngIf="formState==='error'" class="mr-2"></fa-icon>
							{{ saveLabel }}</button>
				</div>
			</div>
		</form>





			
		<!-- Tab Menu -->
		<div class="row mt-2">
			<div class="col-md-3">
				<!-- Layers -->
				<div id="tab-layers" *ngIf="!loading && settings.layers" [hidden]="cur_layer!==-1">
					<app-slide-layers 
						[layers]="settings.layers"
						></app-slide-layers>
				</div>


				<!-- Layer Details -->
				<div id="tab-actions" *ngIf="cur_layer!==-1" [hidden]="cur_keyframe!==-1">
					<app-slide-details 
						[layer]="settings.layers[cur_layer]"
						></app-slide-details>
				</div>


				<!-- Keyframe Props -->
				<div id="tab-props" *ngIf="cur_keyframe!==-1">
					<app-slide-props
						[props]="settings.layers[cur_layer].keyframes[cur_keyframe]"
						[cur_layer]="cur_layer"
						[cur_keyframe]="cur_keyframe"></app-slide-props>
				</div>
			</div>



			<!-- CANVAS -->
			<div class="col-md-9" *ngIf="!loading && settings.layers">
				<app-slide-animation
					#slide_animation
					[layers]="settings.layers"
					[is_paused]="timeline_paused"
					[timeline_time]="timeline_time"
					[tl_max_time]="timeline_total_time"
					(percent_changed)="timeline_per_update($event)"
					></app-slide-animation>
			</div>
		</div>

		<div *ngIf="!loading && settings.layers">
			<app-slide-timeline
				[layers]="settings.layers"
				[timeline_time]="timeline_time"
				[cur_keyframe]="cur_keyframe"
				[cur_layer]="cur_layer"
				[is_paused]="timeline_paused"
				[timeline_per]="timeline_per"></app-slide-timeline>
		</div>
	</div>
</div> 



