/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/* @import "~bootstrap/dist/css/bootstrap.css"; */
*:focus { outline: none !important; }
body, html { margin:0px; height:100%; }
body { background:#eaeeee !important; }


.auth_bg { background:url(/assets/imgs/bg.jpg) no-repeat center center fixed; background-size: cover; position: fixed; top:0; left:0; width:100%; height: 100%; z-index:-1 }


.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }
.bot20 { margin-bottom:20px }

.not_vis { visibility: hidden; }



/* PAGE */



/* AUTH */
.auth_card { max-width:350px; margin:150px auto 0 auto; padding:30px 40px 20px 40px !important; background:#fff; border-radius:5px;
								box-shadow:0px 0px 4px #777 }
.auth_actions { font-size:14px; color:#666; padding-top:30px !important }
.auth_card mat-progress-spinner { float:left; width: 14px; height: 14px; margin: 3px 5px 0px 0px; }
.load40_center { margin:0 auto; width:30px; }


/* Tables */
.datatable-row-center { cursor: pointer; }
.datatable-header-cell-label { font-size:15px; font-weight:bold; }
ngx-datatable.tbl_fnt_14 .datatable-body-cell-label { font-size:14px; }
ngx-datatable.ngx-datatable.bootstrap { background:#f1f6f6; box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);  border-radius: 7px; }
datatable-header{ background:#d1d6d6 }
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even { background:rgba(0,0,0,.03) }
.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover { background:rgba(0,150,200,.06) }
.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell { padding:0.75rem 0.75rem 0.55rem 0.75rem}


    
.profile-usermenu { background:#fff; border-radius:5px; padding-top:15px; }
.profile-usermenu .nav { padding-left: 0; margin-bottom: 0; list-style: none; }
.profile-usermenu .nav>li { position: relative; display: block; width: 100%; text-align: left; }
.profile-usermenu ul li.active { border-bottom: none; }
.profile-usermenu ul li.active a { color: #5b9bd1; background-color: #f6f9fb; border-left: 2px solid #5b9bd1; margin-left: -2px; }
.profile-usermenu ul li a { color: #93a3b5; font-size: 14px; font-weight: 400; }
.nav>li>a { position: relative; display: block; padding: 10px 15px; }
.nav { list-style: none; }



/* Animated Background */
.list-group li:hover { background:#bee5eb; cursor:pointer }
.nav-link.disabled { visibility: hidden; }
.timeline_time { position: absolute; top:16px; z-index:100; font-size:11px; color:#fff; transform: translateX(-50%) }
.timeline_time:first-child { transform:translateX(0%) }
.timeline_time:last-child { transform:translateX(-100%) }
.timeline_row { height:30px; }
.timeline_row a { color:#666; }
.timeline_bar { background:url(/assets/imgs/bar_h.png) repeat-x center center; height:30px; border-left:1px solid #999; 
									border-right:1px solid #999; position: relative; }
.timeline_key { position: absolute; top:10px; background: #666; width:11px; height:11px; border-radius: 50%; transform: translateX(-50%);
									cursor:pointer; z-index:200; }
.timeline_key:hover { top:8px; width:15px; height:15px; }
.timeline_key.active { background:$primary; top:7px; width:17px; height:17px; }
.timeline_key_tail { position: absolute; top:50%; height:10px; border-left:1px solid #666; transform:translateY(-4px); z-index:180; }
.timeline_key_tail:after { content: ' '; display: block; width: 100%; height: 3px; background: #666; position: absolute; top: 50%; margin-top: -2px; }
.timeline_key_tail.active:after { background:$primary; }
.timeline_key_tail.active { border-left:1px solid $primary; }
.timeline_row.active { color:$primary }
.timeline_row:nth-child(even) { background:rgba(200,200,200,.2) }
.timeline_row:hover { background:rgba(200,200,200,.4) }
.timeline_row.active a { color:$primary; }
.timeline_arrow { background:url(/assets/imgs/timeline_arrow.png) no-repeat; width:24px; height:13px; position: absolute; top:2px; left:0%; transform: translateX(-50%); cursor: pointer; z-index:50 }
.timeline_arrow:after { content:""; position: absolute; z-index: -1; top: 14px; bottom: 0; left: 50%; border-left: 2px dotted $primary; transform: translate(-50%); }
#form_props label { margin-bottom:0 }
.color-picker-inp { width:20px; height:20px; border:0px; padding:0 0 0 30px; margin:0 }
.key_ending { background:#a00; }
.key_trail_ending { border-left-color:#a00; }
.key_trail_ending:after { background:#a00; }



/* Game Playlist */
.block_screen.rad10 { border-radius:10px !important; }
.pl_block .block_screen { border-radius:10px 10px 0 0; }
.block_screen { background:#e88900; margin-top:12px; color:#fff; border-bottom:1px solid #af6600; padding:7px 0; }
.block_list .pl_block:first-child { margin-top:0px; }
.block_action { background:#007ee5; color:#fff; border-bottom:1px solid #006cc5; padding:7px 0; }
.block_event { background:#bc00a1; color:#fff; border-bottom:1px solid #850071; padding:7px 0; }
.block_device { background:#3da500; color:#fff; border-bottom:1px solid #297000; padding:7px 0; }
.last_block { border-radius:0 0 10px 10px; border-bottom:0 }
.card .block_screen, .card .block_action, .card .block_event, .card .block_device { border-radius:10px; border-bottom:0; margin-top:6px; cursor: pointer; }
.sort_area { min-height:1px; }