<h3>Layers</h3>

<!-- Add Layer -->
<div class="text-center">
  <div ngbDropdown class="d-inline-block mt-3">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Add Layer</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="addLayer('image')">Image</button>
      <button class="dropdown-item" (click)="addLayer('text')">Text</button>
      <button class="dropdown-item" (click)="addLayer('particles')">Particles</button>
    </div>
  </div>
</div>
 
<!-- Layers -->
<ul class="list-group pt-2" 
  *ngIf="layers"
  [sortablejs]="layers"
  [sortablejsOptions]="dnd_options">
  <li class="list-group-item"
    *ngFor="let layer of layers; index as i" 
    (click)="editLayer(i)"
    [class.list-group-item-success]="cur_layer===i"
    >{{ layer?.layer_name }}</li>
</ul>